.login-dropdown {
    position: absolute;
    right: 120px;
    top: 70px;
    width: 300px;

    background-color: #d8d8d8;
    border: 1px solid #2e2e2e;
    border-radius: 8px;
    padding: 15px;

    z-index: 1000;
}

.login-dropdown {
    display: none;
}

.login-dropdown.active {
    display: block;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-field input {
    width: 93%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    background-color: #b8b8b8;
    color: #e5e7eb;
}

.login-submit {
    margin-top: 8px;
    padding: 10px;

    background-color: #16a34a;
    border: none;
    border-radius: 6px;

    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.login-submit:hover {
    background-color: #15803d;
}

.login-register {
    margin-top: 8px;
    font-size: 13px;
    text-align: center;
    color: #9ca3af;
}

.login-register a {
    color: #22c55e;
    margin-left: 5px;
    text-decoration: none;
}